
    body {
      font-family: 'Roboto', sans-serif;
      background-color: #10053d; /* fundo branco */
      color: #000000; /* letras pretas */
      overflow-x: hidden;
    }

    header {
      background-color: #ffffff; /* fundo branco do menu */
      padding: 1rem 0;
      border-bottom: 1px solid #ddd; /* borda fina abaixo do menu */
      border-radius: 10px 10px 10px black;
    }

    .menu-container {
      width: 100%;
      max-width: 1200px;
      margin: 0 auto;
      padding: 0 1rem;
    }

    nav ul {
      list-style: none;
      display: flex;
      justify-content: center;
      gap: 3rem; /* itens lado a lado, bem espaçados */
      font-size: 1.1rem;
      margin: 0;
      padding: 0;
    }

    nav a {
      text-decoration: none;
      color: #000000; /* letras pretas */
      font-weight: 500;
      padding: 0.5rem 1rem;
      border-radius: 6px;
      transition: background-color 0.3s;
    }

    nav a:hover {
      background-color: #f0f0f0;
    }

    h1{
        color: #ffffff;
        text-align: center;
    }

    footer{
        font-family: 'Roboto', sans-serif;
        background-color: rgba(20, 20, 20, 0.671);
        text-align: center;
        color: white;
    }

    pre{
        font-family: 'Roboto', sans-serif;
    }

    h1#H1dostrem{
      font-size: 50px;
    }
    h2{
      color: white;
    }
    h2#centro{
      text-align: center;
    }
    h3{
      color: white;
      text-align: center;
    }
    img{
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
    p{
      color: #ffffff;
      background-image: url(images.jfif);
      padding: 20px;
      border-radius: 10px;
      box-shadow: 7px 7px 5px rgba(61, 61, 61, 0.685);
    }
    pre{
      color: #ffffff;
    }
    .lf{
      padding: 0px;
    }

    a{
      text-decoration: none;
      color: #ffffff;
    }

    @media (max-width: 768px) {
      nav ul {
        flex-direction: column;
        gap: 0.5rem;
        align-items: center;
      }
    }
    iframe{
      display:block;
      margin: auto;
    }